{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./app/shared/assets/global.css",
  "tailwindFunctions": ["clsx", "cva", "cn", "tw"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js"],
      "options": {
        "importOrder": null
      }
    }
  ]
}
